*{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(21, 20, 20);
    margin: 0;
      padding: 0;
        box-sizing: border-box;
}
body{

    background-color: rgb(71, 0, 252);
    color: white;
    padding: 20px;
    }
    
    
    .titulo{
        color: orange;
        text-align: center;
    }

    h2{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    section{
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        gap: 20px;
        align-items:center;
        justify-content: center;
    }
    div{
        background-color: rgb(138, 138, 162);
        width: 200px;
        height: 245px;
        display: flex;
        flex-direction: column;
        padding: 30px;
        gap: 10px;
        align-content: center;
        justify-content: center;
        border: 2px solid #ffff;
        border-radius: 20px;
        box-shadow: rgba(255, 158, 1, 0.349) 0px 5px 15px;
    }
    label{
        margin-bottom: -15px;
        text-align: left;
        width: 100%;
        padding: 5px;
    }

    input{
        width: 100%;
        border-radius: 999px;
        padding: 5px;
        border: none;
    }    
    button{

        width: 105.5%;
        border-radius: 999px;
        padding: 4px;
        background-color: transparent;
        border: none;
        border: 2px solid rgb(236, 233, 233);
        color: rgb(2, 0, 0);
        font-size: 15px;
        transition: all 200ms linear;
    }

    button:hover{

        cursor:pointer;
        color: blue;
        background-color: aliceblue;
    }

    p{
        font-size: 30px;
        font-weight: 400;
    }

